html *{
	padding: 0px;
	margin: 0px;
	margin: auto;
	font-size: 16px;
	font-family: Lato, sans-serif;
	box-sizing: border-box;
	font-family: Khula;
}

body{
	background-color: hsl(241,78%,83%);
}

li{
	list-style-type: none;
}

h1{
	font-size: 2rem;
}

.template{
	margin-botton: 1rem;
	max-width: 1000px;
	margin-top: 1rem;
}

.text-center{
	text-align: center;
}

.title{
	font-size: 3.5rem;
	width: 100%;
	font-family: "Londrina Shadow";
	padding: 0.25rem 1.5rem;
	text-align: left;
	background: linear-gradient(to right, hsl(241,33%,13%), hsl(241,33%,13%), hsl(241,90%,77%));
	color: hsl(241,90%,77%);
	letter-spacing: 4px;
}


.col-thin{
	width: 33%;
	display: inline-block;
	float: right;
	padding: 0rem 1rem;
}

.col-wide{
	width: 66%;
	display: inline-block;
	float: left;
	padding: 0rem 0rem 0rem 1rem;
}

.box{
	padding: 1rem;
	width: 100%;
	border-radius: 8px;
}

.profile-box{
	margin-bottom: 1rem;
}

.form-box{
	max-width: 30rem;
	height: 14rem;
}

.home-form{
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.form-box input{
    width: 90%;
    max-width: 300px;
}

input{
    padding: 0.2rem;
    margin: 0.4rem auto;
    display: block;
}

input[type="radio"]{
	display: inline-block;
}

.tabs{
	max-width: 30rem;
}

.tab{
	display: inline-block;
	padding: 0.5rem 1.25rem;
	margin-left: 0.5rem;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.light-bg{
	background-color: hsl(256,81%,66%);
}

.dark-bg{
	background-color: hsl(241,33%,13%);
	color: hsl(241,90%,77%);	
}

.button{
	border-style: none;
	border-radius: 8px;
}

.list-item{
	width: 100%;
	padding: 0.3rem;
	margin-top: 0.2rem;
	border-radius: 8px;
}

.list-item-1{
	background-color: hsl(322, 60%, 90%);
	color: black;
}

.list-item-2{
	background-color: hsl(322, 60%, 80%);
	color: black;
}

.list-item-3{
	background-color: hsl(322, 60%, 65%);
	color: black;
}

.list-item-4{
	background-color: hsl(322, 60%, 45%);
	color: black;
}

.list-item-checked{
	background-color: hsl(100, 0%, 33%);
	color: hsl(100, 0%, 55%);
}

.inline-form{
	display: inline-block;
}

@media screen and (max-width: 500px){

	.box{
		border-radius: 0px;
	}

	.col-wide{
		float: right;
		padding: 0rem;
		margin: 0rem;
		width: 100%;
	}

	.col-thin{
		float: left;
		padding: 0rem;
		margin: 0rem;
		width: 100%;
	}
}